.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;
}

.modal-overlay .modal-body {
    background-color: #1e1e1e; /* escuro */
    padding: 24px;
    height: 60%;
    width: 60%;
    border-radius: 24px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.modal-overlay .modal-body h2 {
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 16px;
}

.modal-overlay .modal-body .input-container {
    width: calc(100% - 24px);
}

.modal-overlay .modal-body label {
    color: #d1d1d1;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 18px;
    display: block;
}

.modal-overlay .modal-body input {
    background-color: #111; /* fundo dos inputs */
    padding: 12px;
    border: none;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    border-radius: 12px;
    width: 100%;
    margin-bottom: 12px;
    outline: none;
    box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.1);
}

.modal-overlay .modal-body .btn-secondary {
    position: initial;
    width: 100%;
    margin-top: 32px;
    background-color: #4a54f1;
    color: white;
    border: none;
    padding: 12px;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.modal-overlay .modal-body .btn-secondary:hover {
    background-color: #3a44f8;
    transform: scale(1.02);
}
